.square {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.title {
    color: blueviolet;
   
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 157);
    border-radius: 50%;
    position: absolute;

}